.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #252525ee;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
  opacity: 0.9;
  z-index: 1000;
}

.navbar li a {
  text-decoration: none;
  color: #FFF;
}

.navbar li a:hover {
  color: #FF3131;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.nav-menu-left {
  margin-left: 50px;
}

.nav-menu-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-menu-right li:first-child {
  margin-right: 5px;
}

.nav-item {
  margin-right: 20px;
  text-decoration: none;
  color: #FFF;
}

.logo-container {
  display: flex;
  align-items: center;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-container img {
  margin-right: 5px;
  margin-top: 5px; 
}

.user-container span {
  line-height: 40px;
  margin-top: 5px;
}