<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="logo-container">
            <img src="./assets/logo.png" width="90" height="90" alt="TVLand logo">
        </a>
        <ul class="nav-menu nav-menu-left">
            <li class="nav-item">
                <a href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#">Series</a>
            </li>
            <li class="nav-item">
                <a href="#">Películas</a>
            </li>
            <li class="nav-item">
                <a href="#">Favoritas</a>
            </li>
        </ul>
        <div class="search-container">
            <search (onValue)="search($event)"></search>
        </div>
        <div class="nav-user">
            <ul class="nav-menu nav-menu-right">
                <li class="nav-item">
                    <a href="#" class="user-container">
                        <img src="./assets/user-juan.png" width="30" height="30" alt="Juan image">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">Mi cuenta</a>
                </li>
                <li class="nav-item">
                    <a href="#">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>