<nav class="navbar">
    <div class="container">
        <ul class="nav-menu">
            <li class="nav-item active">
                <a href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#">Series</a>
            </li>
            <li class="nav-item">
                <a href="#">Películas</a>
            </li>
            <li class="nav-item">
                <a href="#">Favoritas</a>
            </li>
        </ul>
    <div class="nav-user">
        <div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#">Mi cuenta</a>
                </li>
                <li class="nav-item">
                    <a href="#">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>